
@import "bootstrap";
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 40px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}


#error_explanation {  
  color: #f00;
  ul{ 
  
  margin: 0 0 18px 0;
  }  
}

.field_with_errors {
 @extend .control-group;
 @extend .error;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.image_carousel {
	    padding: 15px 0 15px 40px;   
	}
	.image_carousel img {
	    border: 0px !important;
	    background-color: white;
    padding: 9px;
    margin: 7px;
	    display: block;
	    float: left;
	}
	.clearfix {
	    float: none;
	    clear: both;
	}